html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
.square{
    
    /* border-style: solid; */
}
#container{
    border-style: solid;
    margin:0 auto;
    display: grid;
    width: 500px;
    height: 500px;
}
.square-active{
    background: black;
}